*{
   margin:0;
   padding: 0;
 

main{
   opacity:0.9;
   background-color: black;
}
main .box{background-image: url("hands-typing-on-laptop-programming-600nw-2480023489.png" ) ;
   object-fit: fill;
  
   height:1199px;
   width: 101%;
   opacity:initial;
   background-color:transparent;
   position: absolute;
   top:0;
}
#home{
   text-align: center;
color: azure;
padding: 1px;}

.box1 h2{
   text-align: center;
   display: flex;
}

div h2 word{
   display:inline-block;
   margin: 0 10px;
   opacity: 0; }
   
   


#about{
   background-color: aliceblue;
   border-radius: 10px;
   width: 45%;
   margin:10px 1px 19px 280px;
   text-align:center;
   padding: 10px 10px;

}

.service{
 position:relative;
 display: flex;
   justify-content: center;
  gap: 80px;
   padding: 40px 20px 30px 30px;
   background-color: aliceblue;
   height: 230px;
}
.service img{
   width: 295px; 
   height: 230px;
   border-radius: 10px;
   box-shadow: 0 2px 16px;
   transform: transform 0.3s;
}
.service img:hovor{
   transform: scale(1.1);
}
.box1{
   background-color: aliceblue;
  display: flex;
  height: 100px;

}
h3{
   color: rgb(54, 33, 6);
  text-align: center;
 margin-left: 20px;
}
.box1 p{
   text-align: center;
   display: inline;
}

#contact{
   background-color: azure;
   border-radius: 10px;
  width:35%;
  text-align: center;
  margin:19px 35% 35px ; 
  height: 250px;
 
}
   input,textarea{
      border-radius :5px; 
      cursor: pointer;
      padding: 4px;
      text-align: center;
      display:center;
      margin: 1px 1px;

   }
   footer{
      background-color: #333;
      color: #fff;
      padding: 40px 20px 20px;
     
   }
   .footer-class{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: auto;
      max-height: 300px;
   }
   .links,contact{
      margin:10px;
     
   }
   .link ul li a{
      color:#fff;
      text-decoration: none;}

   
      .bottom{
         text-align: center;
         border-top: 1px solid #555;
         margin-top: 20px;
         font-size: 14px;
         padding: 10px;
      }
   }
      
   
  
